.clear-location-button {
	border: 1px solid $secondary;
	color: $secondary;

	&:hover {
		color: $secondary;
	}
}

.current-location-button {
	background: $primary;
	color: white;

	&:hover {
		color: white;
	}
}