.autocomplete-dropdown-container {
	border: 2px solid $black;
	border-radius: $border-radius-sm;
	position: absolute;
	width: inherit;
	z-index: 9999;
}

.error-message {
	background-color: $warning;
	border-bottom-left-radius: $border-radius-sm;
	border-bottom-right-radius: $border-radius-sm;
	padding: .25rem .25rem .25rem .6rem;
	width: 30rem;

	@include media-breakpoint-down(sm) {
		max-width: 18rem;
	}
}

.help-text {
	color: $secondary;
	font-weight: 400;
	margin-top: .5rem;
}

.location-form-container {
	@include media-breakpoint-down(xs) {
		margin: 0 auto;
		max-width: 18rem;
	}
}

.location-search-container {
	@include media-breakpoint-down(xs) {
		display: flex;
		justify-content: center;
	}
}

.location-search-input {
	border: 2px solid $black;
	border-radius: $border-radius-sm;
	padding: .5rem;
	width: 30rem;

	@include media-breakpoint-down(sm) {
		max-width: 20rem;
	}

	@include media-breakpoint-down(xs) {
		max-width: 18rem;
	}
}

.suggestion-item {
	background-color: white;
	cursor: pointer;
}

.suggestion-item--hover {
	background-color: $primary-light;
	cursor: pointer;
}