.autocomplete-dropdown-container {
	border: 2px solid $black;
	border-radius: $border-radius-sm;
	position: absolute;
	width: inherit;
	z-index: 9999;
}

.location-search-container {
	@include media-breakpoint-down(xs) {
		display: flex;
		justify-content: center;
	}
}
.location-search-input {
	border: 2px solid $black;
	border-radius: $border-radius-sm;
	padding: .5rem;
	width: 30rem;

	@include media-breakpoint-down(sm) {
		width: 20rem;
	}
}

.suggestion-item {
	background-color: white;
	cursor: pointer;
}

.suggestion-item--hover {
	background-color: $primary-light;
	cursor: pointer;
}