.location-form-container {
	margin-top: 3rem;
}

.clear-location-button {
	border: 1px solid $secondary;
	color: $secondary;

	&:hover {
		color: $secondary;
	}
}

.current-location-button {
	margin-left: 1.5rem;
	background: $primary;
	color: white;

	&:hover {
		color: white;
	}
}