.map-container {
	margin-top: -2.5rem;

	@include media-breakpoint-down(lg) {
		margin-top: 2rem;
	}
}

.map-display {
	> div {
		height: 25.5rem;
		width: 34rem;

		@include media-breakpoint-down(md) {
			height: 22.5rem;
			width: 30rem;
		}

		@include media-breakpoint-down(sm) {
			height: 15rem;
			width: 20rem;
		}

		@include media-breakpoint-down(xs) {
			height: 15rem;
			margin: 0 auto;
			width: 18rem;
		}
	}

	@include media-breakpoint-down(xs) {
		margin-left: -1rem;
	}
}