.day-of-week {
	font-size: $font-size-title;
	font-weight: 500;
	padding-bottom: .5rem;
}

.day-temperature {
	background-color: $primary-light;
	text-align: center;
	width: calc(100% + 2rem);
}

.temp-max {
	font-size: $font-size-lg;
}

.weather-card {
	align-items: center;
	color: $black;
	display: flex;
	flex-direction: column;
	height: 232px;
	margin: 0 1rem;
	padding: 1rem;
	text-align: center;
}

.weather-container {
	display: flex;
	justify-content: center;
	margin-top: 15rem;

	@include media-breakpoint-down(lg) {
		justify-content: flex-start;
		margin-top: -7.5rem;
	}

	@include media-breakpoint-down(md) {
		margin-left: 1.5rem;
	}

	@media (max-width: 707px) {
		margin-left: -1.5rem;
	}

	@include media-breakpoint-down(xs) {
		justify-content: center;
		margin-left: 2rem;
		margin-top: 16rem;
	}
}

.weather-description {
	font-weight: 500;
	text-transform: capitalize;
}