.day-of-week {
	font-size: $font-size-title;
	font-weight: 500;
	padding-bottom: .5rem;
}

.day-temperature {
	background-color: $primary-light;
	text-align: center;
	width: calc(100% + 2rem);
}

.temp-max {
	font-size: $font-size-lg;
}

.weather-card {
	align-items: center;
	color: $black;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0 1rem;
	padding: 1rem;
	text-align: center;

	@include media-breakpoint-down(lg) {
		height: 232px;
	}
}

.weather-card-dot-group {
	margin-left: .6rem;

	.weather-card-dot {
		padding: 0 .27rem;
	}
}

.weather-container {
	display: flex;
	justify-content: center;
	margin-top: 15rem;

	@media (max-width: 1544px) and (min-width: 1200px) {
		justify-content: flex-start;
		overflow: auto;

		> div {
			&:first-child .weather-card {
				margin-left: 0;
			}

			&:last-child .weather-card {
				margin-right: 0;
			}
		}

		&.fade-left {
			> div:before {
				background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
				bottom: 0;
				content: '';
				pointer-events: none;
				position: absolute;
				left: 0;
				top: 0;
				width: 2rem;
			}
		}

		&.fade-right {
			> div:after {
				background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
				bottom: 0;
				content: '';
				pointer-events: none;
				position: absolute;
				right: 0;
				top: 10rem;
				width: 2rem;
			}
		}
	}

	@include media-breakpoint-down(lg) {
		justify-content: flex-start;
		margin-top: -7.5rem;
	}

	@include media-breakpoint-down(md) {
		margin-left: 1.5rem;
	}

	@media (max-width: 707px) {
		margin-left: -1.5rem;
	}

	@include media-breakpoint-down(xs) {
		justify-content: center;
		margin-left: 0;
		margin-top: 17rem;
	}
}

.weather-description {
	font-weight: 500;
	text-transform: capitalize;
}