body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 1rem;
}

/* Content */

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

.title {
  color: #141c3a;
}

.subtitle {
  color: rgba(10, 10, 10, 0.4);
}

p, .subtitle {
  font-size: 1.5rem;
}

/* Components */

.weather-app {
  margin: 3rem 0 1.5rem 0;
}

.btn {
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  font: inherit;
  font-weight: 600;
  margin: 2rem 0;
  padding: 0.6rem 2rem;
}

.clear-location-button {
  border: 1px solid rgb(152,152,152);
  color: rgb(152,152,152);
}

.clear-location-button:hover {
  color: rgb(152,152,152);
}

.current-location-button {
  margin-left: 1.5rem;
  background: rgb(236,110,76);
  color: white;
}

.current-location-button:hover {
  color: white;
}

.location-search-input {
  border: 2px solid rgb(10, 10, 10);
  border-radius: 4px;
  padding: .5rem;
  width: 30rem;
}

.autocomplete-dropdown-container {
  border: 2px solid rgb(10, 10, 10);
  border-radius: 4px;
  position: absolute;
}

.suggestion-item {
  background-color: #ffffff;
  cursor: pointer;
}

.suggestion-item--hover {
  background-color: rgba(236,110,76, 0.1);
  cursor: pointer;
}

.location-form-container {
  margin-top: 3rem;
}

.map-container {
  margin-top: -2.5rem;
}

.weather-container {
  display: flex;
  justify-content: center;
  margin-top: 13rem;
}

.weather-card {
  align-items: center;
  color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 1rem;
}

.day-of-week {
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: .5rem;
}

.day-temperature {
  background-color: rgba(236,110,76,0.1);
  text-align: center;
  width: calc(100% + 2rem);
}

.temp-max {
  font-size: 1.5rem;
}

.temp-min {
  font-size: 1rem;
}

.weather-description {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.card {
  border: 1px solid rgba(152,152,152,.4);
  border-radius: 4px;
  box-shadow: 3px 5px 5px rgba(152,152,152,.1);
}